[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
old_passwords=1

# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
# symbolic-links=0


########################## codepage utf-8


character-set-server=utf8
collation-server=utf8_general_ci

### пишит что нет такой переменной
### default-character-set=utf8
##  default-collation=utf8_general_ci

init-connect="SET NAMES utf8"

skip-character-set-client-handshake

query_cache_type=1


##########################

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[client] 
default-character-set= utf8 

[mysql] 
default-character-set=utf8 

